<!DOCTYPE html>
<html>

<head>
	<title>Internal CSS</title>
	<style>
		.main {
			text-align: center;
		}

		.rsg {
			color: #009900;
			font-size: 50px;
			font-weight: bold;
		}

		.g {
			font-style: bold;
			font-size: 20px;
		}
	</style>
</head>

<body>
	<div class="main">
		<div class="GFG">welcome to rsg coder</div>

		<div class="geeks">
			A computer science portal for rsg
		</div>
	</div>
</body>

</html>
